# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
resources/

# IDE
.idea/

# Mac files
.DS_Store
**/.DS_Store

# Api Key
src/app/_apiKey.run.js

# development files
www/js/
www/css/
www/app/
www/lib/

# ionic upload files
.io-config.json
ionic.project
hooks



