<ion-content>
    <form name="findUserForm"
          class="padding-vertical"
          ng-submit="findUserForm.$valid && SearchCtrl.loadUser()">
        <h2 class="text-center">Search Summoner</h2>
        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label">
                    Select Region
                </div>
                <select name="region"
                        ng-model="SearchCtrl.region"
                        ng-required="true"
                        ng-options="item for item in SearchCtrl.regionList">
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">Search Summoner</span>
                <input name="summonerName"
                       type="text"
                       ng-model="SearchCtrl.summonerName"
                       ng-focus="SearchCtrl.summonerName = ''"
                       placeholder="Summoner name"
                       ng-required="true">
            </label>

            <div class="assertive padding text-center">
                <div ng-show="SearchCtrl.errorMessage">{{SearchCtrl.errorMessage}}</div>
                <div ng-show="findUserForm.region.$error.required">Region is required.</div>
                <div ng-show="findUserForm.summonerName.$error.required">Summoner name is required.</div>
            </div>

            <button type="submit"
                    class="button button-positive button-large ion-search icon-left button-full"
                    ng-disabled="SearchCtrl.loading">
                <ion-spinner icon="spiral" ng-show="SearchCtrl.loading"></ion-spinner>
                <span ng-show="!SearchCtrl.loading">Search Summoner</span>
            </button>
        </div>
    </form>
</ion-content>