// Float
.pull-right {
  float: right;
}
.pull-left{
  float: left;
}
.pull-none{
  float: none;
}

// Display
.inline{
  display: inline;
}
.block{
  display: block;
}
.hidden{
  display: none;
}
.inline-block{
  display: inline-block;
}

// Text align
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

// Image
img{
  .img-xs{
    @include size-square($image-xs);
  }
  .img-sm{
    @include size-square($image-sm);
  }
  .img-md{
    @include size-square($image-md);
  }
  .img-lg{
    @include size-square($image-lg);
  }
  .img-xlg{
    @include size-square($image-xlg);
  }
}


// Margin
.m-xs{
  margin: $margin-xs;
}
.m-sm{
  margin: $margin-sm;
}
.m-md{
  margin: $margin-md;
}
.m-lg{
  margin: $margin-lg;
}
.m-none{
  margin: $margin-none;
}


.m-t-xs{
  margin-top: $margin-xs;
}
.m-t-sm{
  margin-top: $margin-sm;
}
.m-t-md{
  margin-top: $margin-md;
}
.m-t-lg{
  margin-top: $margin-lg;
}
.m-t-none{
  margin-top: $margin-none;
}


.m-b-xs{
  margin-bottom: $margin-xs;
}
.m-b-sm{
  margin-bottom: $margin-sm;
}
.m-b-md{
  margin-bottom: $margin-md;
}
.m-b-lg{
  margin-bottom: $margin-lg;
}
.m-b-none{
  margin-bottom: $margin-none;
}

.m-l-xs{
  margin-left: $margin-xs;
}
.m-l-sm{
  margin-left: $margin-sm;
}
.m-l-md{
  margin-left: $margin-md;
}
.m-l-lg{
  margin-left: $margin-lg;
}
.m-l-none{
  margin-left: $margin-none;
}

.m-r-xs{
  margin-right: $margin-xs;
}
.m-r-sm{
  margin-right: $margin-sm;
}
.m-r-md{
  margin-right: $margin-md;
}
.m-r-lg{
  margin-right: $margin-lg;
}
.m-r-none{
  margin-right: $margin-none;
}
// Padding
.p-xs{
  padding: $padding-xs;
}
.p-sm{
  padding: $padding-sm;
}
.p-md{
  padding: $padding-md;
}
.p-lg{
  padding: $padding-lg;
}
.p-none{
  padding: $padding-none;
}

.p-t-xs{
  padding-top: $padding-xs;
}
.p-t-sm{
  padding-top: $padding-sm;
}
.p-t-md{
  padding-top: $padding-md;
}
.p-t-lg{
  padding-top: $padding-lg;
}
.p-t-none{
  padding-top: $padding-none;
}

.p-b-xs{
  padding-bottom: $padding-xs;
}
.p-b-sm{
  padding-bottom: $padding-sm;
}
.p-b-md{
  padding-bottom: $padding-md;
}
.p-b-lg{
  padding-bottom: $padding-lg;
}
.p-b-none{
  padding-bottom: $padding-none;
}

.p-l-xs{
  padding-left: $padding-xs;
}
.p-l-sm{
  padding-left: $padding-sm;
}
.p-l-md{
  padding-left: $padding-md;
}
.p-l-lg{
  padding-left: $padding-lg;
}
.p-l-none{
  padding-left: $padding-none;
}

.p-r-xs{
  padding-right: $padding-xs;
}
.p-r-sm{
  padding-right: $padding-sm;
}
.p-r-md{
  padding-right: $padding-md;
}
.p-r-lg{
  padding-right: $padding-lg;
}
.p-r-none{
  padding-right: $padding-none;
}