.bg-light{
  background-color: $light;
}
.bg-stable{
  background-color: $stable;
}
.bg-positive{
  background-color: $positive;
}
.bg-calm{
  background-color: $calm;
}
.bg-balanced{
  background-color: $balanced;
}
.bg-energized{
  background-color: $energized;
}
.bg-assertive{
  background-color: $assertive;
}
.bg-royal{
  background-color: $royal;
}
.bg-dark{
  background-color: $dark;
}