
// Margin sizes
$margin-none: 0px;
$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 32px;

// Padding sizes
$padding-none: $margin-none;
$padding-xs: $margin-xs;
$padding-sm: $margin-sm;
$padding-md: $margin-md;
$padding-lg: $margin-lg;

// Image sizes

$image-xs: 16px;
$image-sm: 32px;
$image-md: 64px;
$image-lg: 128px;
$image-xlg: 256px;